.img-container{
    justify-content: left;
    
}

img{
    width: 150px;
}

.Cabecera{
    background-color: red;
}

h1{
    color: white;

}

.footer-style {
    padding-top: 20px;
    padding-bottom: 50px;
    background-color: red;
}

#contacto{
  margin-bottom: 20px;
}

.footer-style {
  color: white;
  padding-bottom: 5px;
}
footer h3 {
  margin-bottom: 10px;
    font-weight: 800;
}
footer .footer-above {
  padding-top: 50px;
}
footer .footer-col {
  margin-bottom: 0px;
}
footer .footer-below {
  padding: 25px 0;
  background-color: red;
}
  
  #instagram{
      width: 100px;
    }
  
  #tiktok{
   width: 100px;
  }

  #youtube{
   width: 100px;
  }

